# Игнорировать виртуальное окружение (если лежит в папке myenv)
myenv/

# Игнорировать стандартные временные и кэш-файлы Python
__pycache__/
*.py[cod]
*.pyo

# Игнорировать временные файлы редакторов
*.swp
*.swo
*~
.DS_Store

# Игнорировать файлы журналов
*.log

# Игнорировать файлы систем Windows
Thumbs.db
ehthumbs.db
Icon?
